<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="SideMenu.css">
</head>
<body>
    <div class="SideMenuContainer "> <!--hide-->
        <div class="SideMenuWhite">

            <div class="SideMenuHeadContainer">
                <div class="SideMenuHeadContainerMiddle">
                    <button class="SideMenuClose">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                            <path d="M10 10L26 26" stroke="black" stroke-linecap="round"/>
                            <path d="M10 26L26 10" stroke="black" stroke-linecap="round"/>
                        </svg>
                    </button>
                </div>
            </div>


            <div class="SideMenuDetailsContainer">
                <a href="">
                    <button class="SideMenuDetails clickeddetails">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                            <path d="M14 8L16.5028 20.2009C16.5982 20.6661 17.0075 21 17.4824 21H18.5176C18.9925 21 19.4018 20.6661 19.4972 20.2009L22 8H14Z" stroke="black" stroke-linecap="round"/>
                            <circle cx="18" cy="25.3333" r="2.16667" stroke="black"/>
                        </svg>
                        <p class="SideMenuDetailsText">위험지역 표시지도</p>
                    </button>
                </a>

                <a href="">
                    <button class="SideMenuDetails">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                            <path d="M18.5 12C16.0147 12 14 13.9188 14 16.2857V28H23V16.2857C23 13.9188 20.9853 12 18.5 12Z" stroke="black"/>
                            <path d="M16 11C12.25 11 11 12 11 15" stroke="black" stroke-linecap="round"/>
                            <path d="M20 10L25 8V13L22 12" stroke="black" stroke-linecap="round"/>
                            <path d="M14 17H23M23 24H14" stroke="black" stroke-linecap="round"/>
                            <rect x="17" y="9" width="2" height="3" rx="1" stroke="black"/>
                        </svg>
                        <p class="SideMenuDetailsText">안전물품 표시지도</p>
                    </button>
                </a>

                <a href="">
                    <button class="SideMenuDetails">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                            <path d="M25 16H11V18C11 19 12 20 13 20H14C14.8742 20 15.9698 19.0143 16.7061 18.2919C16.8955 18.1061 17.1493 18 17.4145 18H18.5855C18.8507 18 19.1046 18.1061 19.2939 18.2919C20.0302 19.0143 21.1258 20 22 20H23C24.2 20 25 19 25 18V16Z" stroke="black" stroke-linecap="round"/>
                            <path d="M9 15.4615L18 9L27 15.4615L25 27H11L9 15.4615Z" stroke="black" stroke-linecap="round"/>
                            <path d="M10.5 22H25.5M11 24.5H25" stroke="black" stroke-linecap="round"/>
                        </svg>
                        <p class="SideMenuDetailsText">오량 물건 찾기</p>
                    </button>
                </a>

                <a href="">
                    <button class="SideMenuDetails">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M20 12V17C20 18.1046 19.1046 19 18 19C16.8954 19 16 18.1046 16 17V12C16 10.8954 16.8954 10 18 10C19.1046 10 20 10.8954 20 12ZM18 11C17.4477 11 17 11.4477 17 12V17C17 17.5523 17.4477 18 18 18C18.5523 18 19 17.5523 19 17V12C19 11.4477 18.5523 11 18 11Z" fill="black"/>
                            <path d="M9.51446 21.5C9.75271 17.3933 12.9068 14.0683 16.9369 13.5658C17.2849 13.5224 17.6397 13.5 18 13.5C18.3603 13.5 18.7151 13.5224 19.0631 13.5658C23.0932 14.0683 26.2473 17.3933 26.4855 21.5H9.51446Z" stroke="black"/>
                            <rect x="9.5" y="23.5" width="17" height="2" rx="1" stroke="black"/>
                        </svg>
                        <p class="SideMenuDetailsText">안전사고 교육영상</p>
                    </button>
                </a>

                <a href="">
                    <button class="SideMenuDetails">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                            <path d="M16.295 13.292L14.6556 16.5707L9.5 17.8596V9.5H15.7929L13.6464 11.6464L13.0744 12.2185L13.8419 12.4743L16.295 13.292Z" stroke="black"/>
                            <path d="M23.1581 12.5257L20.7593 11.7261L22.1444 9.5H26.5V20.2417L20.7235 17.7661L23.4287 13.2572L23.7494 12.7228L23.1581 12.5257Z" stroke="black"/>
                            <path d="M23.5 22H11.5V19.4099L15.9581 18.5183L23.5 21.3465V22Z" stroke="black"/>
                            <path d="M24 24.5H24.118L24.2236 24.4472L25.6661 23.726L26.3596 26.5H16.9343L18.2676 24.5H24Z" stroke="black"/>
                        </svg>
                        <p class="SideMenuDetailsText">고장물건 건의하기</p>
                    </button>
                </a>
                
            </div>
        </div>
    </div>
    
</body>
</html>