.Education {
    background-color: #ffffff;
    display: flex;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #67C2B0, #2EA0BA);
    border-image-slice: 1;
}

.EducationContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    
    margin-top: 2.63rem;
    flex-direction: column;
}

.EducationContainerBox {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.EducationText {
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.02188rem;
    background: linear-gradient(90deg, #67C2B0 0%, #2EA0BA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.EducationBar {
    stroke-width: 1px;
    stroke: #D9D9D9;
    width: 13.6rem;
    margin-left: 0.37rem;
}

/* ----------------------------------------------------------------------------------------------- */

.EducationVideoBox {
    width: 19.5rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10.9375rem;
    border-radius: 0.125rem;
    background: #D9D9D9;

    margin: 1.12rem auto 0 auto;
}


